/.vs
/WebOwner/extractos
/WebOwner/obj/Debug
/WebOwner/obj/Release
/WebOwner/bin
/WebOwner/img/adjuntos
/WebOwner/interfases
/WebOwner/js
/WebOwner/Log
/Servicios/obj/Debug
/Servicios/obj/Release
/Servicios/bin
/DM/obj/Debug
/DM/obj/Release
/DM/bin
/BO/obj/Debug
/BO/obj/Release
/BO/bin
/Console/obj
/Console/bin
/Console/obj/
/Console/bin/
/Console/obj/Debug
/Console/bin/Debug