<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <!--<add name="ContextoOwner"
   connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=S18236224\SQLEXPRESS;Initial Catalog=Owners;Persist Security Info=True;User ID=sa;Password=Sof77ronics*Solu7ions;MultipleActiveResultSets=True&quot;"
   providerName="System.Data.EntityClient" />-->

    <add name="ContextoOwner"
    connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=127.0.0.1\SQLEXPRESS2014;Initial Catalog=OwnersHE;Integrated Security=True&quot;"
    providerName="System.Data.EntityClient" />
  
  <!--
  <add name="ContextoOwner" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=72.18.129.86,1533;Initial Catalog=dbownershe;Persist Security Info=True;User ID=ownersa;Password=HoTeL.14.20Ps;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  
  </connectionStrings>
</configuration>