<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <!-- Pruebas 
    <add 
      name="ContextoOwner"
      connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.99.139\PRUEBASSQLEX12;Initial Catalog=OwnersHE;Persist Security Info=True;User ID=sa;Password=Hoteles.2016;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
      -->

    <!-- Local -->
    <add name="ContextoOwner"
    connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZAMB110112-11;Initial Catalog=OwnersHE;Integrated Security=True&quot;"
    providerName="System.Data.EntityClient" />
    
  </connectionStrings>
</configuration>