<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<sectionGroup name="system.web">
          <section name="sanitizer"
                   requirePermission="false" 
                   type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection,AjaxControlToolkit" />
      </sectionGroup>-->
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebOwner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Correo prueba-->
    <add key="EmailTest" value="manuelzambrano@outlook.com"/>
    <!--Notificacion-->
    <add key="isNotification" value="true"/>
    <!--Grupo hoteles-->
    <add key="Bogota" value="365"/>
    <add key="Manzanillo" value="359"/>
    <add key="Medellin" value="352,368,350,374,373"/>
    <add key="Altamira" value="370"/>
    <add key="Barranquilla" value="366,362"/>
    <!--Remitentes-->
    <add key="CorreoRemitenteBogota" value="owner.bogota@hotelesestelar.com"/>
    <add key="CorreoRemitenteManzanillo" value="owner.manzanillo@hotelesestelar.com"/>
    <add key="CorreoRemitenteMedellin" value="owner.medellin@hotelesestelar.com"/>
    <add key="CorreoRemitenteAltamira" value="owner.altamira@hotelesestelar.com"/>
    <add key="CorreoRemitenteBarranquilla" value="owner.barranquilla@hotelesestelar.com"/>
    <!--Claves-->
    <add key="ClaveRemitenteBogota" value="Owner001"/>
    <add key="ClaveRemitenteManzanillo" value="Casa2022"/>
    <add key="ClaveRemitenteMedellin" value="Owner003"/>
    <add key="ClaveRemitenteAltamira" value="Cav19816"/>
    <add key="ClaveRemitenteBarranquilla" value="Qut65106"/>
  </appSettings>
  <connectionStrings>
    <!-- Produccion  
    <add name="ContextoOwner" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.99.120;Initial Catalog=OwnersHE;Persist Security Info=True;User ID=OwnerUser;Password=Propietarios#2020;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    -->
    <!-- Local 
<add name="ContextoOwner"
connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZAMB110112-11;Initial Catalog=OwnersHE;Integrated Security=True&quot;"
providerName="System.Data.EntityClient" />
-->
    <!-- Pruebas -->
<add name="ContextoOwner"
connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.99.139\PRUEBASSQLEX12;Initial Catalog=OwnersHE;Persist Security Info=True;User ID=sa;Password=Hoteles.2016;MultipleActiveResultSets=True&quot;"
providerName="System.Data.EntityClient" />

  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="3000"/>
    <!--<globalization culture="es-Es" uiCulture="es-Es"/>-->
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true" targetFramework="4.6"/>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <customErrors mode="Off"/>
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <!--<add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>-->
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <handlers>
      <!--<add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>-->
    </handlers>
    <!--<security>
          <requestFiltering>
              <requestLimits maxAllowedContentLength="4294967295"/>
          </requestFiltering>
      </security>-->
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false"/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <applicationSettings>
    <WebOwner.Properties.Settings>
      <setting name="IdSuperUsuario" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IdPropietario" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IdAdministrador" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CorreoRemitente" serializeAs="String">
        <value>propietarios.estelar@hotelesestelar.com</value>
      </setting>
      <setting name="NombreRemitente" serializeAs="String">
        <value>Hoteles ESTELAR Propietarios</value>
      </setting>
      <setting name="ClaveRemitente" serializeAs="String">
        <value>Estelar2022</value>
      </setting>
      <setting name="PuertoSMTP" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="HostSMTP" serializeAs="String">
        <value>smtp.office365.com</value>
      </setting>
      <setting name="RutaExtracto" serializeAs="String">
        <value>../../extractos/</value>
      </setting>
      <setting name="F_TIPO_REG_Inicio" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="F_SUBTIPO_REG_Inicio" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="F_VERSION_REG_Inicio" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="F_CIA_Inicio" serializeAs="String">
        <value>001</value>
      </setting>
      <setting name="F_TIPO_REG_Final" serializeAs="String">
        <value>9999</value>
      </setting>
      <setting name="F_SUBTIPO_REG_Final" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="F_VERSION_REG_Final" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="F_CIA_Final" serializeAs="String">
        <value>001</value>
      </setting>
      <setting name="F_TIPO_REG" serializeAs="String">
        <value>351</value>
      </setting>
      <setting name="F_SUBTIPO_REG" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="F_VERSION_REG" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="F_CIA" serializeAs="String">
        <value>001</value>
      </setting>
      <setting name="CodigoHotelBlue" serializeAs="String">
        <value>900343679</value>
      </setting>
      <setting name="F351_ID_UN" serializeAs="String">
        <value>Fijo para Registro cuenta Por Pagar Administracion descontada al propietario.</value>
      </setting>
      <setting name="F353_ID_SUCURSAL" serializeAs="String">
        <value>001</value>
      </setting>
      <setting name="F353_NRO_CUOTA_CRUCE" serializeAs="String">
        <value>000</value>
      </setting>
      <setting name="F353_ID_FE" serializeAs="String">
        <value>120301</value>
      </setting>
      <setting name="IdPorcentajePropiedad" serializeAs="String">
        <value>248</value>
      </setting>
      <setting name="F_SUBTIPO_REG_MXP" serializeAs="String">
        <value>02</value>
      </setting>
      <setting name="F_CONSEC_AUTO_REG" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="F_TIPO_REG_ENCABEZADO" serializeAs="String">
        <value>0350</value>
      </setting>
      <setting name="F350_ID_TIPO_DOCTO" serializeAs="String">
        <value>LCP</value>
      </setting>
      <setting name="NitHotelEstelar" serializeAs="String">
        <value>890304099</value>
      </setting>
      <setting name="F350_ID_CLASE_DOCTO" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="F350_IND_ESTADO" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="F350_IND_IMPRESION" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IdCiudadDefault" serializeAs="String">
        <value>1123</value>
      </setting>
      <setting name="NumEstadias" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="IdBancoDefault" serializeAs="String">
        <value>739</value>
      </setting>
      <setting name="NombreBancoDefault" serializeAs="String">
        <value>BANCOLOMBIA</value>
      </setting>
      <setting name="LDAP" serializeAs="String">
        <value>LDAP://</value>
      </setting>
      <setting name="mesajeCorreoOlvidoClave" serializeAs="String">
        <value>Sera asignada una nueva contraseña, click en el link para confirmar. &lt;br/&gt;&lt;a href='%url%' target='_blank'&gt;Click aqui&lt;/a&gt;</value>
      </setting>
      <setting name="Passphrase" serializeAs="String">
        <value>hotelesestelar</value>
      </setting>
      <setting name="AsuntoOlvidoClave" serializeAs="String">
        <value>Olvide mi Clave</value>
      </setting>
      <setting name="PieCorreo" serializeAs="String">
        <value>* POR FAVOR NO RESPONDA A ESTE CORREO ELECTRÓNICO. Este correo electrónico fue generado automáticamente. Si tiene alguna pregunta, por favor llamar directamente al hotel donde tiene su inversión.</value>
      </setting>
      <setting name="UrlOlvidoCalve" serializeAs="String">
        <value>http://10.1.99.128/Owner_Release/OlvideClave.aspx</value>
      </setting>
      <setting name="UrlOlvidoClaveUsuario" serializeAs="String">
        <value>http://10.1.99.128/Owner_Release/OlvideClaveUsuario.aspx</value>
      </setting>
      <setting name="IsPruebas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableSsl" serializeAs="String">
        <value>True</value>
      </setting>
    </WebOwner.Properties.Settings>
  </applicationSettings>
</configuration>